/* font integration */
@import url(fonts.css);

/* reset styles */
@import url(reset.css);

/* variable :roots */

:root {
  --primery-color: #333333;
  --second-primery-color: #ffffff;
  --accent-color: #28a745;
}

/* General styles */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: var(--primery-color);
}

/* !wrapper */

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

/* !container */
[class*="__container"] {
  max-width: 1335px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.accent {
  color: var(--accent-color);
}
/* !header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header--bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  font-size: 35px;
  line-height: 1.2;
  color: var(--second-primery-color);
}

.header__logo svg {
  margin-right: 10px;
}
.header__logo span {
  margin-right: 12px;
}
.accent {
}
.header__menu {
}
.menu {
}
.menu__list {
  display: flex;
  column-gap: 38px;
}
.menu__item {
}
.menu__link {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.56;
  color: var(--second-primery-color);
  transition: all 0.3s;
}

.menu__link:hover,
.menu__link:focus {
  color: var(--accent-color);
}

.menu__link:hover::before,
.menu__link:focus::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
}

/* !hero */
.page {
}
.page__hero {
  position: relative;
}
.hero {
  padding-top: 260px;
  padding-bottom: 284px;
  text-align: center;
}
.hero__background-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero__background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__container {
}
.hero__title {
  line-height: 1.2;
  text-align: center;
  color: var(--second-primery-color);

  margin-bottom: 45px;
}
.hero__text {
  font-size: 22px;
  line-height: 1.67;
  text-align: center;
  color: var(--second-primery-color);

  margin-bottom: 30px;
}
.hero__link {
  line-height: 1.56;
  text-align: center;
  color: #fff;

  display: inline-flex;
  gap: 5px;
  align-items: center;
  padding: 10px 30px 10px 27px;
  background-color: var(--accent-color);
  border-radius: 5px;

  transition: all 0.3s;
}

.hero__link:hover,
.hero__link:focus {
  background-color: rgb(24, 110, 44);
  color: #d7d0d0;
}

/* !services */

.page__services {
}
.services {
  padding-top: 40px;
  padding-bottom: 19px;
}
.services__container {
}
.services__title {
}
.services__list {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.services__item {
}
.services__wrapper-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  margin-bottom: 16px;

  width: 67px;
  height: 67px;
  border-radius: 33px;
  background-color: var(--accent-color);
}
.services__sub-title {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--primery-color);
  margin-bottom: 16px;
}
.services__text {
  line-height: 1.56;
  text-align: center;
  color: var(--primery-color);
  max-width: 362px;
}
/* !solutions */
.page__solutions {
}
.solutions {
  display: flex;
}
.solutions__wrapper-left {
  flex-basis: 50%;
}

.solutions__wrapper-left img {
  width: 100%;
  max-height: 521px;
  object-fit: cover;
}

.solutions__wrapper-right {
  flex-basis: 50%;
  padding: 82px 44px 84px 30px;
  background-color: var(--accent-color);
}
.solutions__text-block {
  max-width: 606px;
}
.solutions__text-top {
  font-size: 20px;
  line-height: 1.65;
  color: var(--second-primery-color);
  margin-bottom: 7px;
}
.solutions__title {
  font-size: 38px;
  line-height: 1.26;
  color: var(--second-primery-color);
  margin-bottom: 26px;
}

.solutions__text-bottom {
  margin-bottom: 17px;
}

.solutions__text-bottom p {
  line-height: 1.56;
  color: var(--second-primery-color);
}
.solutions__link {
  display: inline-block;
  padding: 11px 27px 12px 42px;
  border: 1px solid #fff;
  border-radius: 5px;

  line-height: 1.56;
  color: var(--second-primery-color);

  transition: all 0.3s;
}

.solutions__link:hover,
.solutions__link:focus {
  background-color: rgb(24, 110, 44);
  border-color: #d7d0d0;
  color: #d7d0d0;
}
/* !business */
.page__business {
}
.business {
  padding-top: 50px;
  padding-bottom: 47px;
}
.business__container {
}
.business__top-text {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--primery-color);

  margin-bottom: 15px;
}
.business__title {
  text-align: center;

  margin-bottom: 34px;
}

.business__bottom-text p {
  line-height: 1.56;
  text-align: center;

  margin-bottom: 39px;
}
.business__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
.business__item {
}
.business__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 320 / 214;
  object-fit: cover;
}

/* !blog */

.page__blog {
}
.blog {
  display: flex;
}
.blog__wrapper-left {
  flex-basis: 50%;
  background-color: #0284d0;

  padding: 112px 44px 112px 30px;
}
.blog__text-block {
  max-width: 606px;
}
.blog__text-top {
  font-size: 20px;
  line-height: 1.65;
  color: var(--second-primery-color);

  margin-bottom: 7px;
}
.blog__title {
  color: var(--second-primery-color);

  margin-bottom: 26px;
}
.blog__text-bottom {
  margin-bottom: 17px;
}
.blog__text-bottom p {
  line-height: 1.56;
  color: var(--second-primery-color);
}
.blog__link {
  display: inline-block;
  padding: 11px 27px 12px 42px;
  border: 1px solid #fff;
  border-radius: 5px;

  line-height: 1.56;
  color: var(--second-primery-color);

  transition: all 0.3s;
}

.blog__link:hover,
.blog__link:focus {
  background-color: #016ead;
  border-color: #d7d0d0;
  color: #d7d0d0;
}

.blog__wrapper-right {
  flex-basis: 50%;
}

.blog__wrapper-right img {
  width: 100%;
  max-height: 521px;
  object-fit: cover;
}

/* !team */

.page__team {
}
.team {
  padding-top: 49px;
  padding-bottom: 59px;
}
.team__container {
}
.team__text-top {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;

  margin-bottom: 21px;
}
.team__title {
  text-align: center;
  margin-bottom: 29px;
}

.team__text-bottom {
  margin-bottom: 45px;
}

.team__text-bottom p {
  line-height: 1.56;
  text-align: center;
}

.team__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.team__item {
}
.team__wrapper {
  position: relative;
  cursor: pointer;
  margin-bottom: 13px;

  transition: all 0.3s;
}
.team__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 420 / 280;
  object-fit: cover;
}

.team__wrapper:hover,
.team__wrapper:focus {
  transform: scale(1.05);
}

.team__wrapper:hover .team__social-list,
.team__wrapper:focus .team__social-list {
  opacity: 1;
  visibility: visible;
}

.team__social-list {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}
.team__social-item {
}
.team__socila-link {
}
.team__sub-title {
  font-size: 25px;
  line-height: 1.27;
  text-align: center;

  margin-bottom: 12px;
}
.team__employment {
  line-height: 1.56;
  text-align: center;
}

/* !request */
.page__request {
}
.request {
  display: flex;
}
.request__wrapper-left {
  flex-basis: 50%;
}

.request__wrapper-left img {
  width: 100%;
  max-height: 460px;
  object-fit: cover;
}

.request__wrapper-right {
  flex-basis: 50%;
  padding: 78px 30px 82px 30px;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.request__title {
}
.title {
}
.request__form {
}

.request__field-form:first-child {
  margin-bottom: 36px;
}

.request__field-form {
  margin-bottom: 60px;
}

.request__field-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  font-size: 16px;
}
.request__button-wrapper {
}
.request__button {
}
.button {
  width: 100%;
  padding: 10px;
  background: #28a745;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover,
.button:focus {
  background-color: rgb(24, 110, 44);
  color: #d7d0d0;
}

/* !footer */
.footer {
  padding-top: 20px;
  padding-bottom: 16px;
  background-color: var(--primery-color);
}
.footer__container {
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  margin-bottom: 10px;
}

.footer__item img {
  transition: all 0.2s;
}

.footer__item:hover img {
  transform: scale(1.1);
}

.footer__text {
  line-height: 1.56;
  text-align: center;
  color: var(--second-primery-color);
}
